extends ../layout

block content
    h1 Edit your Team name
    form(action="/teams/edit/"+team._id, method="post")
        .form-group     
            label(for="name") Team name
            input#name(type="text", class="form-control", name="name", value=team.name)
        input(type="Submit", class="btn btn-info", value="ADD") 
