extends ../layout

block content
    .row 
        .col-sm-8
            h1=title
        .col-sm-4 
            a(href="teams/add", class="btn btn-success float-right") Add new Team
    table.table 
        thead 
            tr 
                th Name 
        tbody
            each team in teams
                tr 
                    td=team.name 
                    td
                        a(href="/teams/delete/"+team._id, class="btn btn-danger ") DELETE
                        a(href="/teams/edit/"+team._id, class="btn btn-warning ") EDIT
                        a(href="/teams/ground/"+team._id, class="btn btn-info ") SELECT TEAM